$bg_color_dark: #333333;
$bg_color_dark2: #2a2a2a;
$bg_color_gray: #FFFFFF;
$bg_color_gray2: #f9f9f9;
$bg_color_gray3: #b1b1b1;

$border_color_gray: #dddddd;


$font_color_light: #FFFFFF;
$font_color_dark: #363636;

$button_color1_light: #77c3f5;
$button_color1: #2597e4;
$button_color1_dark: #146eaa;

$success_color: #2ad100;
$warning_color: #f8f835;
$danger_color: #FF3860;

$font_size1: 16px;
$font_size2: 20px;
$font_size3: 32px;

$header_height_size: 60px;
$header_pandding_size: 20px;

$page_window_min_size: 1200px;
$page_window_max_size: 1600px;

$btn_padding_size1: 7px;
$btn_padding_size2: 10px;

$border_radius: 5px;

$stock_width: 600px;
$stock_height: 120px;

$modal_width_size: 480px;
$modal_width_size_n: 480;